@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 62.5%;
    font-family: 'Bebas Neue';
}

body {
    background-color: #576bdd82;
    overflow: hidden;
    margin: 0;
    padding: 0;
} 

header {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
#view-highscores:hover {
    cursor: pointer;
}

.timer {
    font-size: 2.3rem;
    display: inline;
    text-align: right;
    padding-right: 15px;
}

header h3 {
    font-size: 2.5rem;
}


.container {
    padding: 10px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 4rem;
    display: block;
}

p {
    color: black;
    font-size: 2.5rem;
}

.start {
    align-items: center;
    text-align: center;
}

.start h1, .start p {
    text-align: center;
}

.question {
align-items: flex-start;
justify-content: flex-start;
padding: 30px 15px;
margin: auto;    
}

.end h1, .end p {
    text-align: left;
}

.end input {
    font-size: 2rem;
    font-weight: bold;
    border-radius: 3px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

#question {
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}

#highscores {
    text-align: left;

}

.button {
    color: white;
    background-color: black;
    font-size: 2rem;
    padding: 2px;
    border-radius: 4px;

}   
.button:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px;
    transition: transform 150ms;
    transform: scale(1.03);
}

.start {
    width: 20%
}

.choice-buttons {
    width: 50%;
    text-align: left;
}


/*Inner-COntainer Section*/
.inner-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
   display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    padding: 2rem;  
}
/*Header/Quiz Intro*/
.quiz-intro, main {
    display: ;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: brown
}

/*Question Screen Section*/
.question-screen {
    color: white;
    display: none;

}

#question {
    display: block;
    font-size: 2rem;
}


.banner {
    font-size: 25px;
    text-align: center;
    color: black;
}

.banner h2 {
    margin: 0 auto;
    text-align: center;
    padding-top: 3px;
}

/*Quiz finish screen*/
ol {
    list-style-type: number;
}
 li {
    font-size: 1.5rem;
 }


