@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 62.5%;
    font-family: 'Bebas Neue';

/*debugging*/
    /*border: 1px solid red; */

}

body {
    background-color: #576bdd82;
    overflow: hidden;
    margin: 0;
    padding: 0;
} 

P {

    font-size: 2rem;
}

button {

    outline: none;
    background-color: black;
    font-size: 1.3em;
    color: white;

}   
button:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px;
    transition: transform 150ms;
    transform: scale(1.03);
}

h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    display: block;
    flex: column;
    align-items: center;
}

h2 {
color:burlywood;
text-align: center;
margin-bottom: 4rem;
}


/*outer-container section*/

.outer-container {
    padding: 10px;
    height: 100%;
    display: flex;
}

/*Top-bar Container*/
.top-bar p {
    float: right;

}

/*Inner-COntainer Section*/
.inner-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
   display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    padding: 2rem;  
}
/*Header/Quiz Intro*/
.quiz-intro, main {
    display: ;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: brown
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
    font-size: 2.3vh;
    text-align: center;
    color: white
    
}

/*Main Quiz Content */

main {
    display: block;

}

/*Question Screen Section*/
.question-screen {
    color: white;
    display: none;

}

#question {
    display: block;
    font-size: 2rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4 px;
    background: blue;
    font-size: 2.5rem;
    min-width: 80 rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding 2rem 2.5rem;
    color: grey;
}

.choice-text {
    padding: 1rem;
    width: 100%;
}

.correct {
    background: linear-gradient(25deg, green, 100);
}

.incorrect {
    background: linear-gradient(25deg, red, 100%);
}

/*Quiz finish screen*/
.quiz-end-screen {
    display: none;
}

/*Highscores screen*/
.highscores-screen {
    display: none;
}
